html, body {
  margin: 0;
  padding: 0;
}


/* Imported Fonts */
@font-face {
  font-family: Title;
  src: url(fonts/title.ttf);
}
@font-face {
  font-family: Relax;
  src: url(fonts/relax.ttf);
}
@font-face {
  font-family: Paragraphs;
  src: url(fonts/text.otf);
}


/* Welcomepage */

#Welcome { /* Body of Welcomepage*/
  background-image: url(images/background.gif);
  background-size: cover;
  display: flex;
  flex-flow: row;
}
.write {
  padding-left: 5px;
  height: 100vh;
  width: 25vw;
  background-color: white;
}
.space {
  align-self: flex-end;
  height: 100vh;
	width: 100vw;
}


/* Homepage */
#Homepage { /* Body of Homepage*/
  background-image: url("images/homeback.png");
  background-size: cover;
  display: flex;
  flex-flow: row;
  padding-left: 20px;
}

.hidden {
  display: none;
}
.show {
  display: block;
}
.center-content {
	display: flex;
	align-items: center;
	justify-content: center;
}


/* Texts */
#title {
  font-family: Title;
  font-size: 60px;
  color: #FF9E9E;
}
#relax {
  display: none;
  font-family: Relax;
  font-size: 200px;
  color: white;
}
.fade-in{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.slow-fade-in{animation:opac 2s}@keyframes opac{from{opacity:0} to{opacity:1}}
#text {
  font-family: Paragraphs;
}

a {
  text-decoration: none;
}

ul {
  font-family: Paragraphs;
  list-style-type: none;
  font-size: 25px;
  padding-left: 0px;
}


/* Mobile Versions */

/* Extra small devices (phones) */
@media only screen and (max-width: 414px) {
  #Welcome { /* Body of Welcomepage*/
    background-image: url("images/background.gif");
    background-position: center;
    display: flex;
    flex-flow: row;
  }
  .write {
    padding-left: 5px;
    height: 100vh;
    width: 40vw;
    background-color: white;
  }
  .space {
    align-self: flex-end;
    height: 100vh;
  	width: 60vw;
    text-align: center;
  }

  #title {
    font-family: Title;
    font-size: 30px;
    color: #FF9E9E;
  }
  #text {
    font-family: Paragraphs;
    font-size: 20px;
  }
}


  #Homepage { /* Body of Homepage*/
    background-image: url("images/homeback.png");
    background-position: center;
    display: flex;
    flex-flow: row;
    padding-left: 20px;
  }

  #relax {
    display: none;
    font-family: Relax;
    font-size: 100px;
    color: white;
  }
/* Small devices (tablets and computers) */
@media only screen and (min-width: 1024px) {
    #Welcome { /* Body of Welcomepage*/
      background-image: url("images/background.gif");
      background-position: center;
      display: flex;
      flex-flow: row;
    }
    .write {
      padding-left: 5px;
      height: 100vh;
      width: 40vw;
    }
    .space {
      align-self: flex-end;
      height: 100vh;
    	width: 60vw;
      text-align: center;
    }

    #title {
      font-family: Title;
      font-size: 80px;
      color: #FF9E9E;
    }
    #text {
      font-family: Paragraphs;
      font-size: 60px;
    }
    ul {
      font-family: Paragraphs;
      list-style-type: none;
      font-size: 60px;
      padding-left: 0px;
    }
  }


    #Homepage { /* Body of Homepage*/
      background-image: url("images/homeback.png");
      background-position: center;
      display: flex;
      flex-flow: row;
      padding-left: 20px;
    }

    #relax {
      display: none;
      font-family: Relax;
      font-size: 100px;
      color: white;
    }

}
